{% extends 'base.html.twig' %}

{% block title %} Novo Produto {% endblock %}

{% block body %}
	<h1>Criar Produto</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

{% endblock %}